# Игнорировать файлы Xcode
.DS_Store
xcuserdata/

# Игнорировать зависимости CocoaPods
Pods/

# Игнорировать скомпилированные файлы и папки
build/
DerivedData/

# Игнорировать временные и резервные файлы
*.swp
*.bak
*~